:root {
  --primary-color:  #d5d8dc;
  --secondary-color:  #808b96;
  --tertiary-color:  #2c3e50;
  --light-text:  #ecf0f1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  text-align: center;
  padding: 1.2rem;
}
.header{
  display: flex;
  margin: 0 3rem;
}
.container{
  display: flex;
}

/* FILTER COMPONENT STYLING */
.filter-component{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.filter-header{
  display: flex;
  justify-content: space-between;
}
.categories,
.order{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.filter-buttons{
  display: flex;
  justify-content: space-between;
}
.filter-btn{
  padding: 5px 20px;
  margin: 5px 10px;
  background: var(--secondary-color);
  border: none;
}
.cart-btn{
  padding: 5px 10px;
  margin: 5px 10px;
  background: var(--tertiary-color);
  border: none;
  color: var(--light-text);
}
/* END FILTER COMPONENT STYLING */

/* CART STYLING */
.cart-component, .cart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 3;
  background-color: var(--primary-color);
}
.cart-btn{
  display: flex;
  flex-direction: column;
}
.cart-btn button{
  margin: 10px 0;
}
.cart-component form{
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy-btn{
  margin: .2rem 0;
  padding: .5rem;
  border: .5px solid #333;
  background-color: #333;
  color: yellowgreen
}
.delivery-form textarea{
  border: none;
}
.bottles{
  text-align: center;
}
.cart-column{
  display: flex;
  justify-content: space-between;
}
/* Checkout Form */
.checkout-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.delivery-form{
  padding: 3rem;
  border: none;
  border-radius: 10px;
  background: var(--secondary-color);
}
.delivery-form small{
  color: var(--light-text);
  font-weight: 400;
}
.close-checkout{
  margin-top: 1rem;
  position: absolute;
  right: 36%;
  padding: 5px;
  border: .5px solid #333;
  background-color: #333;
  color: yellowgreen
  
}
.delivery-info{
  font-weight: bolder;
  color: var(--tertiary-color);
}

.res-cart{
  visibility: hidden;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
  margin-bottom: -2rem;
}
.cart-chev{
  border: none;
  font-size: 2rem;
}
.cart-chev:hover{
  color: var(--secondary-color);
  cursor: pointer;
  transition: all .4s ease-in;
}
.main-cart{
  display: flex;
  flex-direction: column;
}
/* END CART STYLING */

/* FILTERING STYLING */
.filter-header,
.filter-by{
  display: flex;
  justify-content: space-between;
}
#nav-showme-tab{
  margin-right: 5rem;
}
/* END FILTERING STYLING */


/* WINES STYLING */
.wines{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.wine{
  display: flex;
  width: 450px;
  padding: 5rem 0;
  border-bottom: 1px dashed #000;
}
.wine-number{
  font-size: 3rem;
}
.wine-details{
  margin-left: -2rem;
  display: flex;
  flex-direction: column;
}
.wine-image img{
  width: 200px;
  height: 300px;
}
.wine-main{
  margin: 2rem  0;
  font-weight: 600;
}
.case{
  border-left: 1px solid #000;
  padding-left: 3rem;
}
.bottle input,
.case input{
  width: 80%;
  height: 10px;
}
.wine-header{
  text-align: center;
}
.wine-main{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.wine-buttons{
  display: flex;
  justify-content: space-between;
}
.details-modal{
  position: absolute;
  top: 30%;
  left: 40%;
  width: 300px;
  height: 300px;
  background: #333;
  color: #fff;
  letter-spacing: 1px;
  padding: 1rem;
}
.details{
  padding: 1rem;
}
.close-modal{
  position: relative;
  left: 16rem;
}
/* END WINES STYLING */
footer{
  text-align: center;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width : 960px) {
  .header{
    min-height: 100%;
  }
  .filter-component{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -3rem;
  }
  .wine{
    width: 300px;
  }
  .wine-image img{
    width: 100px;
    height: 250px;
    padding-right: 3rem;
  }
  .wines{
    text-align: center;
    margin-bottom: 2rem;
  }
  /* to be cart-show */
  .cart{
    position: fixed;
    bottom: -14rem;
    left: 0;
    right: 0;
  }
  .cart-show{
    bottom: 0;
  }
  .bottles{
    border-bottom: 1px solid #000;
    padding-bottom: 5px;;
  }
  .prices{
    padding-top: 5px;
  }
  .prices .amount h4,
  .prices .price h4,
  .bottles h1{
    font-size: 1rem;
  }
  .cart-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
  }
  .res-cart{
    visibility: visible;
  }
}
